[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-cdk-lib = "==2.8.0"
constructs = "==10.0.34"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
