[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
mlflow = "*"
astroid = "*"
boto3 = "*"
pyarrow = "*"
fastparquet = "*"
datetime = "*"
sklearn = "*"
pandas = "*"
numpy = "*"
mistune = "*"
nbconvert = ">=6.3"
prefect = "==2.1.1"
konsole = "*"

[dev-packages]
mistune = "*"
numpy = "*"
ipykernel = "*"
isort = "*"
pre-commit = "*"
pytest = "*"
pylint = "*"
black = "*"

[requires]
python_version = "3.10"
