[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
mlflow = "*"
astroid = "*"
boto3 = "*"
pyarrow = "*"
fastparquet = "*"
datetime = "*"
numpy = "*"
sklearn = "*"
pandas = "*"
prefect = "==2.1.1"
nbconvert = ">=6.3"


[dev-packages]
ipykernel = "*"
numpy = "*"
isort = "*"
pre-commit = "*"
pytest = "*"
pylint = "*"
black = "*"

[requires]
python_version = "3.11"
