[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
jupyter = "*"
boto3 = "*"
astroid = "*"
pyarrow = "*"
fastparquet = "*"
datetime = "*"
sklearn = "*"
numpy = "*"
pandas = "*"
nbconvert = ">=6.3"
prefect = "==2.1.1"

[dev-packages]
ipykernel = "*"
numpy = "*"
isort = "*"
pre-commit = "*"
pytest = "*"
pylint = "*"
black = "*"

[requires]
python_version = "3.10"
