[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"
pandas = "*"
numpy = "*"
datetime = "*"
mlflow = "*"
prefect = "*"
mistune = ">=2.0.3"
nbconvert = ">=6.3"

[dev-packages]
pytest = "*"
numpy = "*"
pylint = "*"
black = "*"
mistune = ">=2.0.3"
nbconvert = ">=6.3"
isort = "*"
pre-commit = "*"

[requires]
